.title {
	margin-bottom: 1rem;
	font-size: var(--giant-font-size);
}

.stack {
	display: flex;
	column-gap: 2rem;
	row-gap: 1rem;
	flex-wrap: wrap;
}

.content {
	color: var(--green-color);
	font-weight: var(--regular-font-weight);
}
