.page {
	&__topWidget {
		display: flex;
		column-gap: 5rem;
		row-gap: 2.5rem;
		flex-wrap: wrap;
		margin-bottom: 5rem;

		@media (max-width: 820px) {
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}

	&__photoContainer {
		height: 16rem;
		width: 16rem;
		border-radius: 2rem;
		overflow: hidden;
		position: relative;
		object-fit: cover;

		@media (max-width: 425px) {
			height: 10rem;
			width: 10rem;
		}
	}

	&__titleContainer {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}

	&__title {
		color: var(--blue-color);
		text-align: center;
		margin-bottom: 3rem;
	}

	&__subTitle {
		font-size: var(--giant-font-size);
		margin-bottom: 3rem;
		width: 100%;
		text-align: left;
	}

	&__subText {
		margin-inline: 0;
		font-weight: var(--regular-font-weight);
		margin-bottom: 3rem;
	}

	&__profileButton {
		display: flex;
		gap: 3rem;
		flex-wrap: wrap;

		@media (max-width: 820px) {
			gap: 1.5rem;
			flex-direction: row-reverse;
		}
	}

	&__section {
		display: flex;
		flex-wrap: wrap;
		gap: 2.5rem;
		width: 100%;
		margin-bottom: 5rem;

		@media (max-width: 1279px) {
			width: 100%;
		}
	}
}
