.carusel {
	position: relative;
	width: 100%;

	&__link {
		filter: drop-shadow(0 0 0 white) !important;

		&:hover {
			transform: scale(1.02);
		}
	}

	button {
		font-size: 6rem;
		font-weight: var(--bold-font-weight);
		opacity: 0.5;
		transition: 0.2s all 0.1s ease-out;

		&:hover {
			opacity: 1;
			font-size: 8rem;
		}
	}

	&__portableButtons {
		width: 100%;
		display: none;
		padding: 1rem;
		margin-bottom: 1rem;

		@media (max-width: 768px) {
			display: flex;
			justify-content: space-between;
			button {
				display: inline-block;
				font-size: 3rem;

				&:hover {
					opacity: 1;
					font-size: 3rem;

					transform: scale(1.25);
				}
			}
		}
	}

	&__currentEvent {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 5rem;

		button {
			@media (max-width: 768px) {
				display: none;
				gap: 3rem;
			}
		}

		@media (max-width: 1279px) {
			gap: 3rem;
		}
	}

	&__otherEvents {
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: space-between;
		opacity: 0.25;
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		margin-inline: auto;

		@media (max-width: 1000px) {
			display: none;
		}
	}

	&__otherEventsContainer {
		position: relative;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 30rem;
	}

	&__nextEvent,
	&__prevEvent {
		width: fit-content;
	}
}
