.page {
	&__topWidget {
		display: flex;
		column-gap: 5rem;
		row-gap: 2.5rem;
		flex-wrap: wrap;
		margin-bottom: 5rem;

		@media (max-width: 820px) {
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}

	&__photoContainer {
		height: 16rem;
		width: 16rem;
		border-radius: 2rem;
		overflow: hidden;
		position: relative;

		img {
			object-fit: cover;
		}

		@media (max-width: 425px) {
			height: 10rem;
			width: 10rem;
		}
	}

	&__titleContainer {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}

	&__title,
	&__subText {
		margin-bottom: 1rem;
		margin-inline: 0;
		text-align: start;
		width: 100%;

		@media (max-width: 820px) {
			text-align: center;
		}
	}

	&__title {
		color: var(--blue-color);
	}

	&__subText {
		margin-inline: 0;
		font-weight: var(--regular-font-weight);
		margin-bottom: 3rem;
	}

	&__profileButton {
		display: flex;
		gap: 3rem;
		flex-wrap: wrap;

		@media (max-width: 820px) {
			gap: 1.5rem;
			flex-direction: row-reverse;
		}
	}

	&__containersSection {
		display: flex;
		flex-wrap: wrap;
		gap: 2.5rem;
		width: 84%;
		margin-bottom: 5rem;

		@media (max-width: 1279px) {
			width: 100%;
		}
	}
}
