.title {
	color: var(--white-color);
	margin-bottom: 3rem;
}

.subTitle {
	font-size: 2.25rem;
	font-weight: var(--bold-font-weight);
	text-align: center;
}

.sectionDescription {
	margin-top: 4rem;
}

.sectionAuthors {
	margin-top: 6rem;
}
