.title {
	color: var(--white-color);
	margin-bottom: 3rem;

	@media (max-width: 768px) {
		margin-bottom: 1rem;
	}
}

.subTitle {
	font-size: 2.25rem;
	font-weight: var(--bold-font-weight);
	text-align: center;
}

.sectionDescription {
	margin-top: 4rem;

	@media (max-width: 768px) {
		margin-top: 0;
	}
}

.sectionAuthors {
	margin-top: 6rem;
}
