.authors {
	&__title {
		color: var(--orange-color);
		font-size: var(--title-font-size);
		margin-bottom: 3rem;
	}

	&__container {
		display: flex;
		flex-direction: row;
		gap: 1.5rem;
		flex-wrap: wrap;
		width: 100%;

		@media (max-width: 1280px) {
			gap: 3rem;
			justify-content: center;
		}
	}
}
