@keyframes loading {
	0% {
		filter: none;
	}

	50% {
		filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.8));
	}

	100% {
		filter: none;
	}
}

.baseButton {
	background-color: var(--white-color);
	border-radius: 1000rem;
	font-weight: var(--bold-font-weight);
	text-transform: uppercase;
	padding: 0.25rem 1.2rem;
	color: var(--black-color);

	&--default {
		font-size: var(--giant-font-size);
		padding: 0.5rem 2rem;
	}

	&--low {
		font-size: var(--large-font-size);
	}

	&:hover,
	&:focus,
	&:focus-visible {
		transition: all 0.2s ease-in;
		filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.8));
	}

	&--bordered {
		background: transparent;
		color: var(--white-color);
		border: 0.25rem solid var(--white-color);
	}

	&--success {
		filter: drop-shadow(0 0 1rem var(--green-color)) !important;
	}

	&--error {
		filter: drop-shadow(0 0 1rem var(--red-color)) !important;
	}

	&--pending {
		animation: loading 0.5s ease-out infinite;
	}

	&--noFocus {
		&:hover,
		&:focus,
		&:focus-visible {
			filter: drop-shadow(0 0 0px rgba(255, 255, 255, 0.8)) !important;
		}
	}

	@media (max-width: 1024px) {
		&--default {
			font-size: calc(var(--giant-font-size) * 0.75);
			padding: 0.5rem 2rem;
		}

		&--low {
			font-size: calc(var(--large-font-size) * 0.75);
		}
	}
}
