@keyframes error {
	from {
		opacity: 0.5;
		transform: translateY(-0.25rem);
	}
	to {
		opacity: 1;
		transform: translateY(0rem);
	}
}

.input {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	&__label {
		padding-left: 1.25rem;
		font-size: var(--mid-font-size);
		font-weight: var(--regular-font-weight);
	}

	&__input {
		height: 4rem;
		padding-left: 1rem;
		border: 0.25rem solid var(--white-color);
		border-radius: 1000rem;
		font-size: var(--large-font-size);

		&::placeholder {
			color: var(--white-color);
			opacity: 0.65;
		}
	}

	&__error {
		margin-top: 0.25rem;
		color: var(--white-color);
		animation: error 0.25s ease-in-out forwards;
	}
}
