@keyframes error {
	from {
		opacity: 0.5;
		transform: translateY(-0.25rem);
	}
	to {
		opacity: 1;
		transform: translateY(0rem);
	}
}

.inputFile {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 100%;

	&__label {
		font-size: var(--mid-font-size);
		font-weight: var(--regular-font-weight);
		width: 100%;
		margin-bottom: 1rem;
		text-transform: lowercase;
		padding-left: 1.25rem;
		max-width: 100%;
	}

	&__button {
		text-align: center;
		width: fit-content;
		max-width: 100%;
		font-size: var(--giant-font-size);
		font-weight: var(--bold-font-weight);
		padding: 0.5rem 1.25rem;
		border-radius: 1000rem;
		border: 0.25rem solid var(--white-color);
		text-transform: uppercase;
		transition: all 0.1s ease;

		&:hover,
		&:focus,
		&:focus-visible {
			cursor: pointer;
			box-shadow: 0 0 0.5rem var(--white-color);
		}
	}

	&__image {
		object-fit: fill;
	}

	&__preview {
		font-size: var(--mid-font-size);
		font-weight: var(--regular-font-weight);
		border-radius: 2rem;
		padding: 2rem;
		height: 50%;
		min-height: 15rem;
		text-transform: lowercase;
		max-width: 100%;

		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		margin-bottom: 1rem;
	}
}
