@keyframes error {
	from {
		opacity: 0.5;
		transform: translateY(-0.25rem);
	}
	to {
		opacity: 1;
		transform: translateY(0rem);
	}
}

.input {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	max-width: 100%;

	&__label {
		padding-left: 1.25rem;
		font-size: var(--mid-font-size);
		font-weight: var(--regular-font-weight);
		margin-bottom: 0.25rem;
	}

	&__input {
		max-width: 100%;
		height: 4rem;
		padding-inline: 1rem;
		border: 0.25rem solid var(--white-color);
		border-radius: 1000rem;
		font-size: var(--large-font-size);
		transition: all 0.1s ease;

		&::placeholder {
			color: var(--white-color);
			opacity: 0.65;
		}

		&:focus, &:focus-visible {
			box-shadow: 0 0 0.5rem var(--white-color);
		}
	}

	&__error {
		padding-left: 1.25rem;
		text-wrap: wrap;
		margin-top: 0.25rem;
		color: var(--white-color);
		animation: error 0.25s ease-in-out forwards;
		font-style: italic;
	}
}
