@keyframes error {
	from {
		opacity: 0.5;
		transform: translateY(-0.25rem);
	}
	to {
		opacity: 1;
		transform: translateY(0rem);
	}
}

.inputFile {

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;

	&__label {
		font-size: var(--giant-font-size);
		font-weight: var(--bold-font-weight);
		padding: 0.5rem 1.25rem;
		border-radius: 1000rem;
		border: 0.25rem solid var(--white-color);
		text-transform: uppercase;
		transition: all 0.1s ease;

		&:hover, &:focus, &:focus-visible {
			cursor: pointer;
			box-shadow: 0 0 0.5rem var(--white-color);
		}
	}

	&__image {
		object-fit: fill;
	}

	&__preview {
		font-size: var(--mid-font-size);
		font-weight: var(--regular-font-weight);
		border-radius: 2rem;
		padding: 2rem;
		height: 50%;
		min-height: 15rem;
		text-transform: lowercase;

		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	}
}

