@import "../shared/styles/reset.css";

:root {
	/* FONTS */

	/* size */
	--base-font-size: 16px;
	--mid-font-size: 1.25rem;
	--large-font-size: 1.5rem;
	--giant-font-size: 2rem;
	--pre-title-font-size: 3rem;
	--title-font-size: 4rem;

	/* thickness */
	--bold-font-weight: 700;
	--medium-font-weight: 500;
	--regular-font-weight: 400;

	/* COLORS */

	--black-color: #121212;
	--dark-grey-color: #1b1c1f;

	--white-color: #fff;
	--grey-color: #e6e6e6;
	--dark-silver-color: #373737;

	--blue-color: #4d86ff;
	--dark-blue-color: #192540;

	--green-color: #4dff59;
	--dark-greeen-color: #213e18;

	--yellow-color: #deff4d;
	--dark-yellow-color: #3e3e18;

	--orange-color: #ff914d;
	--dark-orange-color: #402b19;

	--red-color: #ff4d4d;
	--dark-red-color: #3e1819;

	--purple-color: #ff4df3;
	--dark-purple-color: #411932;
}

html,
body {
	font-family: var(--font-ibm);
	font-size: var(--base-font-size);
	font-weight: var(--medium-font-weight);
	color: var(--white-color);
}

h1,
h2,
h3 {
	text-transform: uppercase;
	font-weight: var(--bold-font-weight);
}

h1 {
	font-size: var(--title-font-size);
	text-align: center;
}

h2 {
	font-size: var(--pre-title-font-size);
}
