.layout {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
	width: 100%;
	height: fit-content;
	max-width: 100vw;
	overflow: clip;
	position: relative;

	&__wrapper {
		margin-inline: auto;
		width: 1280px;
		padding-inline: 1rem;
		padding-bottom: 6rem;

		@media (max-width: 1279px) {
			width: 95%;
		}
	}

	&__main {
		margin-top: 6rem;

		@media (max-width: 425px) {
			margin-top: 4rem;
		}
	}
}

body {
	background-color: var(--black-color);
	position: relative;
}
