.title {
	color: var(--blue-color);
	margin-bottom: 2rem;
}

.section {
	margin-inline: auto;
	width: 84%;
	margin-top: 4rem;

	@media (max-width: 1279px) {
		width: 100%;
		margin: auto;
	}
}

.subText {
	margin-bottom: 4rem;
	font-size: var(--mid-font-size);
	font-weight: var(--regular-font-weight);
	margin-inline: auto;
	width: fit-content;
	font-style: italic;
	text-align: center;
}
