.mdContainer {
	width: 100%;
	border-radius: 1rem;
	height: fit-content;
	overflow: hidden;

	&__header {
		background-color: var(--black-color);
		width: 100%;
		display: flex;
		justify-content: space-between;
		padding: 1rem 2rem;

		p {
			font-size: var(--mid-font-size);
			font-weight: var(--regular-font-weight);
		}
	}

	&__content {
		background-color: var(--dark-grey-color);
		width: 100%;
		height: fit-content;
		padding: 1rem 2rem;
		display: flex;
		flex-direction: column;
		gap: 1rem;
		padding-top: 3rem;

		h1 {
			margin-bottom: 3rem;
		}

		h2 {
			margin-top: 1.5rem;
			margin-bottom: 1.5rem;
		}

		p,
		li {
			line-height: 1.75;
			margin-bottom: 1rem;
		}
	}
}
