.form {
	width: 100%;

	&__inputs {
		display: flex;
		gap: 3rem;
		flex-wrap: wrap;
		width: 100%;
		margin-bottom: 3rem;
	}

	&__picture {
		display: flex;
		column-gap: 2.5rem;
		width: 100%;
		margin-bottom: 3rem;
		align-items: end;
	}

	&__buttons {
		justify-content: end;
		display: flex;
		width: 100%;
	}
}
